/* ==========================================
                      STYLE NOTES

 Inspiration from https://dribbble.com/shots/2071807-Accounting-Calculator

 =============================================== */
/*-------------------
    FONT STYLE
------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:100);
/*----------------------------
         BODY STYLE
---------------------------- */

body {
    background: #FFFFFF;
    background: linear-gradient(#CA4293, #5B396D);
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}
html {
    height: 100%;
}
/*------------------------
      HEADER
-------------------------- */

.header {
    text-align: center;
    background-color: #E99681;
    padding: 20px 0 20px;
    text-align: center;
    color: #fff;
    border-bottom: 15px solid #E28588;
}
h1 {
    font-size: 60px;
}
/* ------------------------
   MAIN CALC CONTAINER
 -------------------------- */

#calculator {
    width: 30%;
    height: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E0D9EC;
    padding-top: 30px;
}
/* ------------------------
   DISPLAY, CLEAR & DEL BUTTONS
 -------------------------- */

.display {
    border: #FFFFFF solid 2px;
    width: 80%;
    height: 60px;
    padding-top: 5px;
    text-align: center;
    float: none;
    margin: 0 auto;
}
#clear {
    border-radius: 0;
    background-color: #F7C86E;
    height: 50px;
    float: right;
    margin-right: 20px;
}
#backspace {
    border-radius: 0;
    background-color: #F7C86E;
    height: 50px;
    float: right;
    margin-right: 80px;
}
.clearBackspace {
    margin-top: 40px;
    width: 100%;
}
/* ------------------------
   NUMBERS ROW
 -------------------------- */

#numbers-row {
    text-align: center;
    margin-top: 30px;
}
/* ------------------------
    BUTTON STYLES
 -------------------------- */

button {
    margin: 8px;
    border-radius: 38px;
    width: 80px;
    height: 80px;
    border: none;
    background-color: #ffffff;
}
button:hover {
    background-color: #F394B2;
    color: #FFFFFF;
}
.opp {
    background-color: #F394B2;
}
.decimal:hover {
    background-color: #FFFFFF;
    color: #888888;
}
.operator:hover {
    background-color: #FFFFFF;
    color: #888888;
}
.eval:hover {
    background-color: #FFFFFF;
    color: #888888;
}