/* ==========================================
                      STYLE NOTES

 Inspiration from https://dribbble.com/shots/2071807-Accounting-Calculator

 =============================================== */
/*-------------------
    FONT STYLE
------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:100);
/*----------------------------
         BODY STYLE
---------------------------- */

body {
  background: #ffffff;
  background: linear-gradient(#ca4293, #5b396d);
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
}
/*------------------------
      HEADER
-------------------------- */

.header {
  text-align: center;
  background-color: #e99681;
  padding: 20px 0 20px;
  text-align: center;
  color: #fff;
  border-bottom: 15px solid #e28588;
}
h1 {
  font-size: 60px;
}
/* ------------------------
   MAIN CALC CONTAINER
 -------------------------- */

#calculator {
  width: 30%;
  height: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0d9ec;
  padding-top: 30px;
}
/* ------------------------
   DISPLAY, CLEAR & DEL BUTTONS
 -------------------------- */

.display {
  border: #ffffff solid 2px;
  width: 80%;
  height: 60px;
  padding-top: 5px;
  text-align: center;
  float: none;
  margin: 0 auto;
}
#clear {
  border-radius: 0;
  background-color: #f7c86e;
  height: 50px;
  float: right;
  margin-right: 20px;
}
#backspace {
  border-radius: 0;
  background-color: #f7c86e;
  height: 50px;
  float: right;
  margin-right: 80px;
}
.clearBackspace {
  margin-top: 40px;
  width: 100%;
}
/* ------------------------
   NUMBERS ROW
 -------------------------- */

#numbers-row {
  text-align: center;
  margin-top: 30px;
}
/* ------------------------
    BUTTON STYLES
 -------------------------- */

button {
  margin: 8px;
  border-radius: 38px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: #ffffff;
}
button:hover {
  background-color: #f394b2;
  color: #ffffff;
}
.opp {
  background-color: #f394b2;
}
.decimal:hover {
  background-color: #ffffff;
  color: #888888;
}
.operator:hover {
  background-color: #ffffff;
  color: #888888;
}
.eval:hover {
  background-color: #ffffff;
  color: #888888;
}
